<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupo Andrade - {% block title %}{% endblock %}</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='icone/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body
    id="meuElementoBody"
    class="flex flex-col h-screen justify-between bg-gray-200 text-gray-800"
  >
    <!-- Cabeçalho -->
    {% include 'header.html' %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %} {% if category == 'success' %} {# Alterar
    'success' para a categoria desejada #}
    <div
      class="p-4 mb-4 text-center text-base font-medium rounded-lg bg-green-100 text-green-800"
    >
      {{ message }}
    </div>
    {% elif category == 'error' %}
    <div
      class="p-4 mb-4 text-center text-base font-medium rounded-lg bg-red-100 text-red-800"
    >
      {{ message }}
    </div>
    {% elif category == 'warning' %}
    <div
      class="p-4 mb-4 text-center text-base font-medium rounded-lg bg-yellow-100 text-yellow-800"
    >
      {{ message }}
    </div>
    {% elif category == 'info' %}
    <div
      class="p-4 mb-4 text-center text-base font-medium rounded-lg bg-blue-100 text-blue-800"
    >
      {{ message }}
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %}{%
    endblock %}
    <!-- Ícone do WhatsApp -->
    <a
      href="https://wa.me/5581983685747?text=Oi grupo Andrade da uma preferência"
      target="_blank"
      class="fixed bottom-4 right-5 p-2 rounded-full shadow-lg hover:shadow-xl transform transition duration-300 hover:-translate-y-2 hover:scale-105"
      aria-label="WhatsApp"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
        alt="WhatsApp"
        class="h-12 w-12"
      />
    </a>

    <!-- Rodapé -->
    <footer id="contato" class="bg-green-900 text-white p-6 mt-10">
      <div class="container mx-auto text-center">
        <p>&copy; 2024 Serviços de Veículos. Todos os direitos reservados.</p>
        <p class="mt-2">
          Contato:
          <a href="rafaelampaz6@gmail.com" class="underline"
            >rafaelampaz6@gmail.com</a
          >
        </p>
      </div>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
